s{display:inline-block;background-repeat:no-repeat}
.header1{
    color:#29b078;
    line-height:40px;
}
/*.header1-s{
    float: right;
}*/
.header1 s{
    float: right;
    margin: 8px 7px;
}
.i1{  width:28px;height:24px;background-image:url(img/slice/技能树首页_03.png);}
.i2{width:27px;height:24px;background-image:url(img/slice/技能树首页_05.png);}
.i3{width:26px;height:24px;background-image:url(img/slice/技能树首页_07.png);}

.header2{
    background-color:#29b078 ;
    width: 100%;
    height:100px;
    color:white;
    line-height: 100px;
}
.header2 p{
    float: right;
    margin-right: 360px;
}
.header3{
    width: 100%;
    height: 600px;
    color: white;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.header3>img:not(:first-child){ display:none;  }
.i4{width:27px;height:49px;background-image:url(img/slice/技能首页_24.png);
    position: absolute;
    top: 247px;
    left: 290px;}
.i5{width:26px;height:49px;background-image:url(img/slice/技能首页_26.png);
    position: absolute;
    top: 263px;
    right: 298px;}

.i6{width:51px;height:62px;background-image:url(img/slice/技能树首页_13.png);}
.i7{width:65px;height:50px;background-image:url(img/slice/技能树首页_19.png);}
.i8{width:55px;height:55px;background-image:url(img/slice/技能树首页_16.png);}
.i9{width:15px;height:14px;background-image:url(img/slice/技能树首页_24.png);}
.main{
    margin: 0 auto;
    overflow: hidden;

}
.main1{
    text-align: center;
    overflow: hidden;
}
.box1{
    float: left;
    margin: 153px 0 0 0;
}
.box2{
    float: left;
    margin: 165px 0;
}
.box3{
    float: left;
    margin: 160px 0 150px 0;
}
.box4{
    float: left;
    padding: 99px 0 50px 40px;
    line-height: 2;
    text-align: left;
    border-left: dashed #999999 2px;
    margin-top: 127px;
}
h4{
    line-height: 4;
}
.main1 p {
    text-align: left;
    line-height: 1.7;
    color: #999999;
}
.box4 span{
    color: #76bc9b;
}
.main2{
    overflow: hidden;
}
h4{
    text-align: center;
    margin-bottom: 55px;
}
.square {
    float: left;
    margin: 0 0 90px;
}
.square1 {
    float: left;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 1px 2px #afafaf;
}
.square p {
    float: left;
    width: 137px;
    margin: 18px 12px;
    font-size: 12px;
}

.i10{width:31px;height:26px;background-image:url(img/slice/技能树首页_28.png);
    margin: 21px 0;
}
.main3{
    text-align: center;
    overflow: hidden;
}
.main3>h5{
    margin: 90px 70px;
}
.yun {
    height: 370px;
    float: left;
    background-color: white;
    margin: 10px 20px;
    box-shadow: 0px 1px 1px #afafaf;
    max-width: 250px;
}
.i11{width:114px;height:109px;background-image:url(img/slice/技能树页_10.png);}
.i12{width:115px;height:108px;background-image:url(img/slice/技能树页_03.png);}
.i13{width:112px;height:108px;background-image:url(img/slice/技能树页_05.png);}
.i14{width:115px;height:108px;background-image:url(img/slice/技能树页_07.png);}
.main3 s{
    margin: 20px 0 28px;
}
.yun h5{
    margin-bottom: 22px;
}
.yun p{
    text-align: left;
    margin: 0 auto;
    line-height: 1.7;
}
.yuan{
    width: 12px;
    height: 12px;
    background-color:white;
    display: inline-block;
    border-radius: 10px;
}
.i15{width:154px;height:62px;background-image:url(img/slice/技能树首页_35.png);}
.i16{width:62px;height:62px;background-image:url(img/slice/技能树首页_32.png);}
.i17{width:139px;height:62px;background-image:url(img/slice/技能树首页_38.png);}
.i18{width:181px;height:62px;background-image:url(img/slice/技能树首页_44.png);}
.i19{width:131px;height:62px;background-image:url(img/slice/技能树首页_41.png);}
.i20{width:92px;height:92px;background-image:url(img/slice/首页_03.png);}


.main4 h4{
    margin: 130px 0 70px;
    text-align: center;
}
.mainfooter{
    width: 100%;
    background-color: white;
}
.main4 s{
    margin: 5rem 3rem;
}
.footer{
    overflow: hidden;
    background-color: white;
    margin-top: 90px;
}
.footer1{
    margin: 0 auto 20px;
}
.footer1 h4{
    text-align: center;
    line-height: 5;
    margin-bottom: -5px;
}
.footer1 ul{
    list-style: inherit;
}
.footer1  li{
    float: left;
    width: 114px;
    line-height: 2;
}
.footer2{
    background-color: #26a26f;
}
.footer-middle{
    margin: 0 auto;
    color: #fff;
}

.footer-middle-left{
    float: left;
    height: 100%;

}
.footer-middle-left p{
    font-size: 16px;
    padding-top: 32px;
}
.footer-middle-left ul{
    float: left;
    padding-top: 60px;
}

.footer-middle-left ul li{
    display: inline-block;
}
.footer-middle-middle{
    float: left;
}
.footer-middle-middle ul {
    overflow: hidden;
}
.footer-middle-middle p{
    font-size: 16px;
    padding-top: 32px;
    padding-bottom: 20px;
}

.footer-middle-middle ul  li{
    float: left;
    padding-right: 30px;
    margin: 10px 0;
}

.footer-middle-right{
    float: right;
    padding-right: 80px;
}
.footer-middle-right p{
    font-size: 15px;
    padding-top: 32px;
    padding-bottom: 10px;
}
.footer-bottom{
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    line-height: 30px;
    border-top: 1px solid #32c086;
}

nav {
    background: #1db176;
}
.header-bottom .logo {
    color: #fff;
}
span.glyphicon.glyphicon-menu-hamburger {
    font-size: 4rem;
}
.white {
    border-bottom: 5px solid #fff;
}
.green {
    border-bottom: 5px solid #1db176;
}
.nav li {
    padding: 2rem;
    font-size: 1.6rem;
    cursor: pointer;
}
.nav li:hover {
    border-bottom: 5px solid #fff;
}
@media (min-width:768px) {
    .header1-s {
        float: right;
    }
}
